[build]
  command = "pnpm run netlify-build"
  functions = "netlify/functions"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@prisma/client", ".prisma/client"]
  
  # Add this section to mark optional dependencies as external
  [functions."*"]
    external_node_modules = [
      "@prisma/client",
      ".prisma/client",
      "@nestjs/microservices",
      "@nestjs/websockets",
      "@nestjs/platform-socket.io",
      "class-transformer/storage"
    ]