[build]
  command = "pnpm run netlify-build"
  functions = "netlify/functions"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[functions]
  node_bundler = "esbuild"
  external_node_modules = [
    "@prisma/client",
    "@nestjs/microservices",
    "@nestjs/websockets",
    "@nestjs/platform-socket.io",
    "class-transformer/storage",
    "amqplib",
    "amqp-connection-manager",
    "ioredis",
    "kafkajs",
    "mqtt",
    "nats",
    "@grpc/grpc-js",
    "@grpc/proto-loader"
  ]
  included_files = [
    "node_modules/.pnpm/@prisma+client*/node_modules/.prisma/**",
    "node_modules/.pnpm/@prisma+client*/node_modules/@prisma/client/**"
  ]
